

#cmn config

#xmlParse
XMLDFFILEOUTDIR=data/xmlParse/cmn/df/
XMLDFFILEINPUTDIR=data/raw/cmn/df/
XMLNEWSFILEOUTDIR=data/xmlParse/cmn/news/
XMLEWSFILEINPUTDIR=data/raw/cmn/news/
AUTHOROUTDIR=data/result/author/cmn/

#es Search  es 还是去Search.java里面修改


#cmnGenCandidate

CANDIDATEDFFILEINPUTDIR=data/mention/cmn/df/
CANDIDATEDFFILEOUTDIR=data/candidate/cmn/df/
	
CANDIDATENEWSFILEINPUTDIR=data/mention/cmn/news/
CANDIDATENEWSFILEOUTDIR=data/candidate/cmn/news/
	
DICTFILE=data/dict/chinese.tab


#cmnGenMention


MENTIONNEWSFILEINPUTDIR=data/xmlParse/cmn/news/
MENTIONNEWSFILEOUTDIR=data/mention/cmn/news/
MENTIONNEWSSEGMENTOUTDIR=data/segment/cmn/news/
	
MENTIONDFFILEINPUTDIR=data/xmlParse/cmn/df/
MENTIONDFFILEOUTDIR=data/mention/cmn/df/
MENTIONDFSEGMENTOUTDIR=data/segment/cmn/df/
	
SEGHOST=127.0.0.1
SEGPORT =4465
NERHOST=127.0.0.1
NERPORT=2310
ABBREFILEPATH=data/dict/abbre.tab
ABBREFILOUTEPATH=data/dict/abbreOut.tab




